.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto 0 auto;
  overflow: hidden;
  gap: 0.5rem;
}

.form input {
  display: block;
  width: 96%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f7f5ef;
  border: none;
  margin: 0.5rem 0;
  align-self: center;
}

.flex button {
  font: inherit;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  width: 9rem;
  align-self: end;
}

.flex button:hover,
.flex button:active {
  background-color: rgba(var(--color1));
  border: 1px solid #fff;
}

.flex{
  display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 14rem;
   padding: 0 20px;
}