.item {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
}

.x {
  width: 20px;
  justify-self: end;
  cursor: pointer;
}

input[type=checkbox] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-right: 8px;
  position: relative;
  padding: 0 0 0 2px;
}

input[type=checkbox]::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--color-puprple);
  transform: translate(8px, 13px) rotate(-45deg);
  transform-origin: left;
  transition: 150ms all linear;
  transition-delay: 0ms;
}

input[type=checkbox]::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--color-puprple);
  transform: translate(1px, 8px) rotate(45deg);
  transform-origin: left;
  transition: 150ms all linear;
  transition-delay: 150ms;
}

input[type=checkbox]:checked::before {
  width: 14px;
  transition-delay: 150ms;
}

input[type=checkbox]:checked::after {
  width: 10px;
  transition-delay: 0ms;
}